.form {
    width: 100%;
}

.form-auth__label {
    display: block;
    margin-top: 1.5rem;
}

.form-auth__input {
    margin-top: .5rem;
}

.form-auth__button {
    margin-top: 3rem;
    padding: 1.25rem .75rem;
    width: 100%;
}