.inputbar {
  align-items: center;
  background-color: var(--main-dk-grey-color);
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 3fr 15rem 0.5fr;
  padding: 1;
  bottom: 0;
  position: fixed;
}

.inputbar__field {
  background-color: inherit;
  color: var(--main-white-color);
  resize: none;
  height: 100%;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: 200;
}

.inputbar__field::placeholder {
  color: var(--main-white-color);
}

.inputbar__list {
  align-items: center;
  display: flex;
  margin: 0 0.5rem;
}

.inputbar__item {
}

.inputbar__button {
  transition: 0.3s;
}

.inputbar__button:hover > .inputbar__icon {
  color: var(--main-lg-blue-color);
}

.inputbar__icon {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 1rem;
}

.inputbar__emoji {
  position: absolute;
  bottom: 8rem;
  left: 25%;
}

.emoji {
}

.inputbar__picture {
  position: absolute;
}

.picture {
  bottom: 8rem;
  left: 34%;
}

@media screen and (max-width: 1280px) {
  .inputbar {
    grid-column-gap: 2rem;
    grid-template-columns: 0.5fr 15rem 0.35fr;
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .inputbar {
    grid-template-columns: 0.5fr 15rem;
    padding-bottom: 1rem;
  }

  .inputbar__content {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 580px) {
  .inputbar {
    position: unset !important;
    width: 100%;
    grid-template-columns: auto auto;
  }
}
