.input {
  outline: none;
  border: none;
  width: 100%;
}

.input-main,
.input-auth {
  background: var(--main-white-color);
  border: 0.1rem solid var(--main-lg-grey-color);
  border-bottom: 0.1px solid var(--main-grey-color);
  border-radius: 0.35rem;
  box-shadow: 0.1px 0.1px 0.1rem var(--main-grey-color);

  padding: 1.25rem 0.75rem;

  font-size: 1.6rem;
  font-weight: 400;
}

.input-main::placeholder,
.input-auth::placeholder {
  color: var(--main-grey-color);
  text-transform: capitalize;
}

.input-main:focus,
.input-auth:focus {
  border: 0.1rem solid var(--main-blue-color);
}
