.line {
}

.line__content {
  color: var(--main-blue-color);
  font-size: 2.6rem;
  font-weight: 200;
  margin: 0;
}

.line__count {
  color: var(--main-dark-grey-color);
  font-weight: 600;
  margin: 0rem 1rem;
}

.noactive__line {
  margin-right: auto;
}
