.line {

}

.line__content {
    color: var(--main-white-color);
    font-size: 3rem;
}

.line__count {
    color: var(--main-lg-blue-color);
    font-weight: 500;
    margin: 0rem 1rem;
}

.noactive__line {
    margin-right: auto;
}