.textarea {
    outline: none;
    border: none;
    resize: none;
    width: 100%;
}

.textare-chat {
    background-color: inherit;
    color: var(--main-dk-grey-color);
    font-weight: 400;
    padding: 2.5rem 3rem 0 0rem;
    font-size: 1.6rem;
    white-space: normal;
}