.error-message {
  background-color: var(--main-lg-brown-color);
  box-shadow: 0.1rem 0.1rem 0.25rem var(--main-lg-brown-color);
  border-radius: 0.25rem;
}

.error-message__text {
  font-size: var(--main-fs-h3);
  font-weight: 400;
}

.error-message__icon_red,
.error-message__text_red {
  color: var(--error-color);
}

.error-message__icon_red {
  margin: 0 0.5rem;
}
