.error-message {
    background-color: var(--main-lg-brown-color);
    box-shadow: .1rem .1rem .25rem var(--main-lg-brown-color);
    margin-top: .5rem;
    padding: .5rem 1rem;
}

.error-message__icon,
.error-message__text {
    color: var(--error-color);
}

.error-message__icon {
    margin: 0 .5rem 0 0;
}