.main {
    align-items: center;
    background-color: var(--main-white-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 117.8rem;
}

.title {
    font-size: var(--main-fs-h2);
    font-family: var(--main-font-bold);
    color: var(--main-blue-color);
    text-transform: uppercase;
}