.modal {
    z-index: 10;
}

.modal__title {
    text-align: center;
    font-size: 3rem;
}

.modal__button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
}

.profile {
    margin-top: 2rem;
}

.profile__avatar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.profile__avatar-example {

}

.profile__avatar-file {
    max-width: 75%;
}

.profile__input-name {
    margin: 1.5rem 0;
}

.profile__input-password {
    margin: .5rem 0;
}

.profile__button {
    margin-top: 1.5rem;
    padding: 1rem;
    width: 100%;
}