.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}

.header__controls {
    align-items: center;
    display: flex;
}

.menu__icon_plus {
    font-size: 2.25rem;
}

.menu__icon_dots {
    font-size: 1.6rem;
}

.menu__button-add-user {
    margin-right: .5rem;
}
.menu__button-options {
    padding-right: 0;
}