.chatroom {
    display: grid;
    grid-template-rows: 10rem 1fr auto;
    grid-row-gap: 0;
    overflow-y: hidden;
    width: 100%;
}


.chatroom__header {

}

.chatroom__body {
    padding: .5rem 4.5rem .5rem 4.5rem;
    overflow-x: hidden;
}

.chatroom__body::-webkit-scrollbar {
    width: .5rem;
}

.chatroom__body::-webkit-scrollbar-thumb {
    background-color: var(--main-dk-grey-color);
    border-radius: .5rem;
}

.chatroom__footer {

}