.profile {

}

.profile__input {
    
}

.profile__input:nth-of-type(1) {
    margin: 2rem 0;
}

.profile__input:nth-of-type(2n + 1) {
    margin: 2rem 0;
}

.profile__user {
    display: grid;
    align-items: center;
    grid-template-columns: .5fr auto;
}

.profile__avatar {
    justify-self: start;
}

.profile__image {

}

.profile__update {
    padding: 1rem;
    width: 100%;
}