.menu {
    background: linear-gradient(to bottom, var(--main-blue-color), var(--main-blue-color));
    /* border-bottom-right-radius: .7rem; */
    border-top-right-radius: .7rem;
    height: 100vh;
}

.menu__header {
    padding: 2rem;
}


/* Top */
.menu__header-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}


/* Middle */
.menu__header-middle {
    margin-top: 3.5rem;
}

.controls {
    align-items: center;
    display: flex;
}

.controls__submenu {
    margin-left: 2rem;
}


.controls__button {
    padding-right: 0;
}


/* Bottom */
.menu__header-bottom {
    margin-top: 2rem;
}


.switches {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: var(--main-fs-h2);
    font-family: var(--main-font-bold);
    color: var(--main-white-color);
    text-transform: uppercase;
    font-weight: 400;
}

.menu__content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
    /* height: 64vh; */
}

.menu__content::-webkit-scrollbar {
    width: .5rem;
}
.menu__content::-webkit-scrollbar-thumb {
    background-color: var(--main-dk-grey-color);
    border-radius: .5rem;
}