.card {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
  min-width: 45rem;
}

.card-button,
.card-link {
  color: var(--main-blue-color);
  text-transform: uppercase;
  transition: .3s;
  font-size: 1.6rem;
}

.card-button:hover,
.card-link:hover {
  color: var(--main-blue-color);
}

.card-button::after,
.card-link::after {
  content: '';
  display: block;
  height: .2rem;
  width: 0%;
  margin-top: .5rem;
  background-color: var(--main-lg-blue-color);
}

.card-button:hover::after,
.card-link:hover::after {
  width: 100%;
  transition: .3s;
}

.card__loader {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

.card__inner {
  max-width: 45rem;
  min-width: 15rem;
  width: 100%;
}

.inner {
  background-color: var(--main-white-color);
  border-radius: 0.25rem;
  box-shadow: 0.15rem 0.15rem 0.1rem var(--main-grey-color),
    -0.1px -0.1px 0.1rem var(--main-grey-color);
  padding: 2rem 3.5rem;
}

.inner__title {
  margin: 3.5rem 0;
}

@media screen and (max-width: 480px) {
  .card {
    min-width: 25rem;
  }

  .card {
    padding: 2rem 1.5rem;
  }
}
