.authentication {}

.authentication__links {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.authentication__link {

}

.authentication__socials {
  margin-top: 1rem;
  display: flex;
}

.authentication__button {
  padding: 0;
}