.dialogs {
    background-color: var(--main-blue-color);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: var(--main-white-color);
    padding: 1rem;
}

.header {
    
} 

.dialogs__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    text-transform: uppercase;
    font-size: var(--main-fs-h2);
    font-weight: 400;
}

.controls {} 

.header__controls {
    display: flex;
}

.controls__item {

}

.controls__icon {
    font-size: 2.2rem;
    color: var(--main-white-color);
}

.search {} 
.dialogs__searh {}

.tabs {}
.tabs__icon {
    font-size: 2.2rem;
    color: var(--main-white-color);
}
.dialog__tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.users {}
.dialog__users {}