.home {
    align-items: center;
    background-color: var(--main-lg-grey-color);
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.home__inner {
    text-align: center;
}

.home__title {
    font-size: var(--main-fs-h1);
}

.home__description {
    font-size: var(--main-fs-h2);
}