.dialog {
    padding: 1rem;
}

.dialog__inner {
    align-items: center;
    display: grid;
    grid-template-columns: 10rem 1fr 15rem;
}

.dialog__client {}
.dialog__avatar {}
.dialog__name {}
.dialog__content {}
.dialog__author {}
.dialog__message {}
.dialog__controls {}