.dialog {
    cursor: pointer;
    transition: .3s;
    padding: 1.5rem 1rem;
}

.dialog_active {
    background-color: var(--main-grey-color);
}

.dialog__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.dialog__avatar {
    position: relative;
}

.dialog__avatar-status {
    position: absolute;
    font-size: 1rem;
    bottom: .5rem;
    right: 0;
}

.dialog__content {
    margin: 0 1rem;
    width: 100%;
}

.dialog__username {
    text-transform: capitalize;
    font-weight: 700;
}

.dialog__message {
    
}

.dialog__functionality {
    display: flex;
    transition: .3s;
}

.dialog__save {
    margin-right: .5rem;
}

.dialog__newmessage-counter {
    align-items: center;
    background-color: var(--main-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-height: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.dialog__newmessage-value {
    color: var(--main-blue-color);
}