.namebar {
  box-shadow: 0rem 0.1rem 0.5rem var(--main-dk-grey-color);
  padding: 1rem 5rem;
}

.namebar__inner {
  padding: 1rem;
}

.namebar__top {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.namebar__name {
  color: var(--main-blue-color);
  margin: 0 2rem 0 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.namebar__controls {
  align-items: center;
  display: flex;
}

.namebar__button {
  align-items: center;
  display: flex;
  text-transform: uppercase;
}

.namebar__children {
  margin-right: auto;
}

.namebar__button,
.namebar__icon {
  color: var(--main-blue-color);
  transition: 0.4s;
}

.namebar__button:hover,
.namebar__button:hover > .namebar__icon {
  color: var(--main-lg-blue-color);
}

.namebar__icon {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .namebar {
    padding: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .namebar__name {
    margin: 1rem 0;
  }
}
