.namebar {
    align-items: center;
    background-color: var(--main-grey-color);
    box-shadow: .1rem .1rem .25rem var(--main-grey-color);
    display: flex;
    justify-content: space-between;
}

.namebar__user {
    align-items: center;
    display: flex;
}

.namebar__user-status {
    font-size: .85rem;
    margin-right: .7rem;
}

.namebar__user-name {
    color: #fff;
}

.namebar__actions {
    align-items: center;
    display: flex;
}

.namebar__actions-phonecall {
    margin-right: 1rem;
}

.namebar__actions-videocall {

}