.content {
}

.content__inner {
  position: relative;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-blue-color);
  border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .content__inner {
    padding: 0;
  }
}
