.messenger {
    background-color: var(--main-lg-grey-color);
    display: grid;
    grid-template-columns: 25rem auto;
    grid-template-rows: .2fr 1fr;
    grid-template-areas: 
        'aside namebar'
        'aside content'
        'aside content'
    ;
    height: 100%;
    margin: 0 auto;
    max-width: 148.0rem;
}

.aside {
    grid-area: aside;
}

.namebar {
    grid-area: namebar;
}

.content {
    grid-area: content;
}