.messenger {
    align-content: top;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 35rem auto;
    height: 100%;
}

.icon {
    font-size: 2rem;
    transition: .3s;
}

.icon:hover {
    color: var(--main-lg-blue-color);
}