.main {
    display: grid;
    background-color: var(--main-lg-grey-color);
    max-width: 148.0rem;
    margin: 0 auto;
}

.main_three-windows {
    grid-template-columns: 35rem 1fr 1fr;
}

.main_two-windows {
    grid-template-columns: 35rem auto;
}