.message {
    max-width: 45rem;
    position: relative;
}


.message:nth-of-type(1n + 2) {
    margin-top: 10.5rem;
}

.message_left {
    margin-right: auto;
    margin-left: 8rem;
}

.message_right {
    margin-left: auto;
    margin-right: 8rem;
}

.avatar_left {
    position: absolute;
    left: -6.5rem;
    bottom: -8rem;
}

.avatar_right {
    position: absolute;
    right: -11rem;
    bottom: -7.5rem;
}

.message__content {
    border-radius: 1rem;
    box-shadow: .1rem .1rem .25rem var(--main-dk-grey-color);
    font-weight: 400;
    font-size: var(--main-fs-h3);
    padding: 2rem;
    word-wrap: break-word;
}

.message__img {
    box-shadow: .1rem .1rem .25rem var(--main-dk-grey-color);
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
    margin-top: 2rem;
}

.message__content_grey {
    background-color: var(--main-grey-color);
    border-bottom-left-radius: 0;
}

.message__content_blue {
    background-color: var(--main-blue-color);
    border-bottom-right-radius: 0;
    color: var(--main-white-color);
}